{% load static %}
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <a href="#"><img class="img-fluid" src="{% static './assets/img/qqq.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Mobile</b> Store</h1>
                            <h3 class="h2 text-secondary">The best phone trading web-site in Uzbekistan</h3>
                            <p>

                                The site was created in August 2024 and currently in test mode, so we apologize for any problems.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <a href="#"><img class="img-fluid" src="{% static './assets/img/eee.jpg' %}" alt=""></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">Also there you can order and buy</h1>
                            <h3 class="h2">Smart and Apple watches</h3>
                            <p>
                                On our website we often put our products <strong>on discount</strong> to make it convenient and cheap for customers
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <a href="#"><img class="img-fluid" src="{% static './assets/img/rrt.jpg' %}" alt="no image"></a>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">High-quality headphones at a low price</h1>
                            <h3 class="h2"></h3>
                            <p>
                                When purchasing a product through our website you will receive a 100% guarantee and various discounts + gifts
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="prev">
        <i class="fas fa-caret-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="next">
        <i class="fas fa-caret-right"></i>
    </a>
</div>